<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .linea {
        border-top: 5px solid black;
        height: 2px;
        max-width: 1000px;
        padding: 0;
        margin: 20px auto 0 auto;
        }
    </style>
</head>

<body>
   
   
    <h1>Hola mundo</h1>
    <div class="linea"></div>
    <h2>Bienvenidos</h2>


</body>


</html>
